html, body {height:100%;min-height:100%;}
body{
    margin: 0;
    padding: 0;
    background:url("../imagenes/fondo_body1024.png") no-repeat, -webkit-linear-gradient(top, #7da698 0%,#ffffff 100%);
    background:url("../imagenes/fondo_body1024.png") no-repeat, -moz-linear-gradient(top, #7da698 0%,#ffffff 100%);


    font-family:Arial, Helvetica, sans-serif;
}
#main{
    font-size: 18px;
/*    width: 800px;
    height: 500px; */
    height:100%;
    width:100%;
    overflow:hidden;
}
/* estilos introduccion */

#inicio {
	height:100%;

}
img.mujer {
        width:27%;
	bottom:0;
	position:absolute;
	left:0;
}
img.hombre {
        width:25%;
	bottom:0;
	position:absolute;
	right:0;
}
.screen-start h1 {
	text-align:center;
	margin-top:25%;
        font-size:2.5rem;
        color:#e67b0c;
        font-weight:normal;
}
img.logo1 {
        top:7%;
        right:7%;
	position:absolute
}
img.logo2 {
        top:7%;
        right:7%;
	float:right;
	width:25%;
}
img.barrita {
	margin-left:2%;
	margin-top:1%;
	float:left;
}
img.logos {
	float:right;
	width:40%;
}
video {
        width:70%;
        display:none;
        top:18%;
        left:16%;
	position:absolute;
}

.clear {
	clear:both;
}
.screen-start{
/*    display: none;
    padding-top: 150px;
    background:#0088CC;*/
    height: 100%;
    color: #fff;
    text-align: center;
    display:inline-block;
    width:100%;
    bottom:0;	
}
.screen-finish{
    display: none;
    padding-top: 150px;
    background:#46a546;
    height: 100%;
    color: #fff;
    text-align: center;
}
#info{
    padding:10px;
    font-size: 14px;
    font-size:1rem;
    background:#3c86b7;
    color:white;	
    border-radius:6px;	
    width:10%;
}
#time{
    float: right;
}
#quiz {width:95%;margin: 3% auto;;overflow:auto;}
#qus {
    padding: 20px 55px;
    color: #4b6960;
    border-radius:45px;
    font-size:1.3rem;
    background:rgba(255,255,255,.5);	
    margin:3% 5% 0;	

}
#ans{
    margin: 0 20px;
    padding:10px 0;
   /* border-bottom: 1px solid #bbbbc1;*/

}
/*------------ Answer formatting --------*/
#ans .radioList{
    list-style: none;
    margin: 0;
}
#ans .radioList li{
    display: block;
    margin: 10px 0;
    padding:5px 35px;
    font-size: 1.3rem
    text-align: left;
    color:#4B6960;
    cursor:pointer;	
    background:url("../imagenes/barrita2.png") no-repeat;	
    min-height:46px;
}
#ans .radioList li.btn-success {
	background:#e67b0c;
	color:white;
	border-radius:10px;
}
#nav{
 /*   padding-top: 20px;
    border-top: 1px solid #ffffff;*/
}
#botones {
	width:40%;
	float:left;
	margin-top:1%;
	margin-left:10%;
}
button#prev-btn{
    float: right;
    margin-top:10px;	
}
button#next-btn{
    float: right;
    margin-left: 10px;
}
#fin-btn{
    display: none;
}
#result{
    padding: 10px;
    height: 96%;
    font-size: 14px;
    overflow: auto;
}
#result li{
    padding: 3px 0;
    margin-left: 20px;
}
#result ol ol li{
    list-style-type: lower-alpha;
}
#result ol li span.cross{
    font-size: 18px;
    color: red;
}
#result ol li span.check{
    font-size: 18px;
    color: green;
}
footer{
    text-align: center;
	display:none;
}


#nav .btn {
	background:#3c86b7;
	color:white;
	font-size:1rem;
	border:none;
	padding:.5%;
	border-radius:3px;
}
#nav .btn:hover {
	background:#e67B0c;
}
button#qstart {
	background:#e67B0c;
	padding:10px;
	color:white;
	border-radius:4px
 	border:none;	
	cursor:pointer;
}
