html, body {height:100%;min-height:100%;}
body{
    overflow:hidden;
    margin: 0;
    padding: 0;
    background:url("../imagenes/fondo_body1024.png") no-repeat, -webkit-linear-gradient(top, #a4c4ba 1%,#ffffff 100%);
    background:url("../imagenes/fondo_body1024.png") no-repeat, -moz-linear-gradient(top, #a4c4ba 1%,#ffffff 100%);


    font-family:Arial, Helvetica, sans-serif;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 


button::-moz-focus-inner {
  border: 0;
}

#main{
    font-size: 18px;
/*    width: 800px;
    height: 500px; */
    height:100%;
    width:100%;
    overflow:hidden;
}
/* estilos introduccion */

#inicio {
	height:100%;

}
img.mujer {
        width:27%;
	bottom:0;
	position:absolute;
	left:0;
}
img.hombre {
        width:25%;
	bottom:0;
	position:absolute;
	right:0;
}
.screen-start h1 {
	text-align:center;
	margin:21% auto 2%;
        font-size:2.5rem;
        color:#e67b0c;
        font-weight:normal;
	width:54%;
}
@media (max-height:600px){
	.screen-start h1 {margin:10% auto 2%;}
}
img.logo1 {
        margin-top:3%;
	position:relative;
}
img.logo2 {
        top:7%;
        right:7%;
	float:right;
	width:25%;
}
img.barrita {
	margin-left:2%;
	margin-top:0%;
	float:left;
}
img.logos {
	width:40%;
}
video {
        width:70%;
        display:none;
        top:15%;
        left:15%;
	position:absolute;
	height:70%;
}

.clear {
	clear:both;
}
.screen-start{
/*    display: none;
    padding-top: 150px;
    background:#0088CC;*/
    height: 100%;
    color: #fff;
    text-align: center;
    display:inline-block;
    width:100%;
    bottom:0;	
    position:absolute;	
    z-index:1;
}
.screen-finish{
    display: none;
    height: 100%;
    color: #fff;
    text-align: center;
    width:90%;	
    margin:auto;
    overflow:auto;
    position:relative;	
}
.screen-finish h2 {   
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border-radius:20px;
    color: #4B6960;
    font-size: 1.3rem;
    margin: 1%;
    padding: 20px 0px
}
.tipoLider {
    color:#4B6960;
    text-align:left;
    width:90%;
    padding:20px;
    background:rgba(255,255,255,.5);
    border-radius:20px;
    margin:20px auto;	
}
.tipoLider span {
    background:#E67B06;
    border-radius: 50% 50% 50% 50%;
    float: left;
    font-weight: bold;
    margin: 10px -35px;
    padding: 8px 14px;
    color:#fff !important;	
    border:2px solid #bfd6d3;	

}
@media (max-height:600px) {
	.tipoLider {
	width:88%;
	margin:4px auto;
	font-size:1rem;
	padding:10px;
	}
	img.logos {
	width:60%;		
	}	
}
.tipoLider h3 {
	margin:0 2%;
	color:#e67b0c;
}
.tipoLider p {
	margin:0 2%;
}
#info{
    padding:10px 24px;
    font-size: 14px;
    font-size:1rem;
    background:#3c86b7;
    color:white;	
    border-radius:18px;	
    width:15%;
    height:1rem;
}
#time{
    float: right;
    font-weight:bold;
}
#qnum {
	float:left;
}
#quiz {width:90%;margin: 2% auto;overflow:auto;opacity:0;}
#qus {
    padding: 20px 55px;
    color: #e67B06;
    border-radius:45px;
    font-size:1.3rem;
    background:rgba(255,255,255,.5);	
    margin:0% 5% 0;	
    font-weight:bolder;
}
#ans{
    margin: 0 20px;
    padding:15px 0;
   /* border-bottom: 1px solid #bbbbc1;*/
}
.scroleable {
	height:70%;
	margin:3% 5%;
	overflow:hidden;
	position:absolute;
	width:80%;
}
@media (min-height:859px){
	.scroleable{
	 	margin:7% 5%;
}
	.scroleable-finish {
		margin-top:2%;
	}
}
@media (max-height:600px){
	.scroleable {
		height:60%;
		position:absolute;
		width:90%;
		margin:2% auto;
		}
	#nav { height:15% !important;}

}
* outline {
	outline:0;
}
a {
	outline:none;
}
.scroleable-finish {
	overflow:hidden;
	position:relative;
}
@media (max-height:600px){
	.scroleable-finish {
		}
}

/*------------ Answer formatting --------*/
ul.radioList {
	padding:0 !important;
}
#ans .radioList{
    list-style: none;
    margin: 0;
}
#ans .radioList li{
    display: block;
    margin: 15px auto;
    padding:5px 35px;
    font-size: 1.3rem
    text-align: left;
    color:#4B6960;
    cursor:pointer;	
/*    background:url("../imagenes/barrita2.png") no-repeat;	*/
    background:rgba(255,255,255,.5);
    min-height:46px;
    text-align:center;
    border-radius:18px;
    width:80%;
    position:relative;
}

#ans .radioList li p{
	margin:0;
	padding:0;
}
#ans .radioList span {
 background:#E67B06;
    border-radius: 50% 50% 50% 50%;
    float: left;
    font-weight: bold;
    margin: 3px -50px;
    padding: 8px 14px;
    color:#fff;
    border:2px solid #bfd6d3;	
}
#ans .radioList li.btn-success {
	background:#e67b0c;
	color:white;
	border-radius:18px;
}
#nav{
 /*   padding-top: 20px;
    border-top: 1px solid #ffffff;*/
    display:none;	
    position:absolute;
    bottom:0;	
    width:90%;
    margin:auto;
    height:10%;
}
#botones {
	width:80%;
	text-align:center;
	margin:auto;
}
button#ans-clear {
	float:left;
	display:none;
	outline:none;
}
button#prev-btn{
    float: left;
    background:url("../imagenes/prev.png") no-repeat center top;
    outline:none;	
}
button#prev-btn:hover {
    background:url("../imagenes/prev.png") no-repeat 0px -54px;

}

button#next-btn{
    float: right;
    background:url("../imagenes/next.png") no-repeat 0px -54px;
}
button#next-btn:hover {
    background:url("../imagenes/next.png") no-repeat 0px -54px;

}
.final {width:240px !important;margin:2%;}
#fin-btn{
    display: none;
    float: right;
    background:url("../imagenes/next.png") no-repeat 0px -54px;
}
#result{
    padding: 10px;
    height: 96%;
    font-size: 14px;
    overflow: auto;
}
#result li{
    padding: 3px 0;
    margin-left: 20px;
}
#result ol ol li{
    list-style-type: lower-alpha;
}
#result ol li span.cross{
    font-size: 18px;
    color: red;
}
#result ol li span.check{
    font-size: 18px;
    color: green;
}
footer{
    text-align: center;
	display:none;
}


#nav .btn {
/*	background:#3c86b7;*/
	color:white;
	font-size:1rem;
	border:none;
	padding:.5%;
	border-radius:3px;
	width:47px;
	height:54px;
}
button#qstart, button.btn {
	background:#e67B0c;
	padding:8px;
	color:white;
	border-radius:30px;
 	border:none;	
	cursor:pointer;
	font-size:1.3rem;
	width:150px;
}
.screen-instrucciones-wrap{
	display:none;
	position:absolute;
	top: 0%;
	left: 0%;
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,.8);
        z-index:1001;
}
.screen-instrucciones {
	display: inherit;
        position: absolute;
        top: 35%;
        left: 15%;
        width: 70%;
        height: 30%;
        padding: 16px;
        background:rgba(255, 255, 255,.8);
        z-index:1002;
        overflow: auto;
	border-radius:25px;
}
.screen-instrucciones h2 {
	margin:0;
	color:#E67B06;
}
